@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.padding-x {
  padding-left: max(4vw, 50vw - 37rem);
  padding-right: max(4vw, 50vw - 37rem);
}

.text-drop-shadow {
  text-shadow: -2.25px -2.25px 0 #2563eb, 2.25px -2.25px 0 #2563eb,
    -2.25px 2.25px 0 #2563eb, 2.25px 2.25px 0 #2563eb, -2.25px 0px 0 #2563eb,
    0px -2.25px 0 #2563eb, 2.25px 0px 0 #2563eb, 0px 2.25px 0 #2563eb;
  letter-spacing: 2px;
}

.pixel-image {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
